@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #000000;
  background: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #ffffff;
  color: #000000;
}

input,
textarea,
select {
  font-size: 16px;
}

.focus-ring {
  @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-funktion-blue;
}
